BER Indefinite Length Form is not implemented

RFC 4511 section 5.1 explicitly forbids its use in LDAP, so let's skip this.